/* Font: Noto Sant 900 700 400 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&display=swap');

/* General styles */
body {
    font-family: 'Noto Sans JP', Tahoma, sans-serif;
    color: #4a4a4a;
    line-height: 1.5;
}

section img, section video {
    width: 100%;
}

video {
    cursor: pointer;
}

.btn {
    max-width: 100%;
    background-color: #9f9f9f;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: white;
}

section h2 {
    padding-bottom: 20px;/* This affects Start learning and Thesis h2*/
    text-align: center;
    font-weight: 900;
    margin: 0;
}

.desktop {
    display: none;
}

@media only screen and (min-width: 1200px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    section h2 {
        padding-bottom: 32px;
    }
}

/* Header */
header {
    width: 100%;
    height: 64px;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    width: 25%;
    text-align: center;
}

nav ul {
    width: 75%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

@media only screen and (min-width: 1200px) {
    nav {
        justify-content: space-between;
    }

    #logo {
        width: auto;
        margin-left: 24px;
    }
    
    #logo span {
        display: inline;
        font-weight: 700;
    }
    
    #logo span::after {
        content: "ACADEMY";
        font-weight: 300;
    }

    #logo img {
        width: 35px;
        vertical-align: middle;
    }

    nav ul.desktop {
        width: auto;
        margin-right: 24px;
    }

    nav ul.desktop li:not(li:last-child) {
        margin-right: 16px;
    }

    nav ul.desktop li a {
        text-decoration: none;
        color: inherit;
        padding-bottom: 10px;
    }

    nav ul.desktop li a:hover {
        border-bottom: 3px solid #d8d8d8;
    }
}

/* Banner section */
#banner {
    background-color: #ccc;
}

#banner .container {
    padding: 32px 16px;
}

#banner h1 {
    margin-bottom: 32px;
    font-weight: 900;
}

#banner p {
    margin-bottom: 24px;
    font-size: 1.25rem;
}

@media only screen and (min-width: 1200px) {
    #banner {
        position: static !important;
        display: flex;
        align-items: center;
    }

    #banner img {
        position: static !important;
        width: 60%;
        padding: 32px 24px;
        box-sizing: border-box;
    }

    #banner .container {
        position: static !important;
        width: 30%;
        background-color: unset !important;
    }
}

@media only screen and (min-width: 500px) {
    #banner {
        position: relative;
    }

    #banner img {
        position: absolute;
        max-height: 100%;
    }

    #banner .container {
        position: relative;
        background-color: rgba(230,230,230,0.8);
    }
}

/* Information section */
#info {
    padding: 32px 16px;
    border-bottom: 0.1rem solid #E6E6E6;
}

#info article:not(article:last-child) {
    margin-bottom: 32px;
}

#info article .container {
    padding-left: 16px;
}

#info article .container h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

#info article .container p {
    font-size: 0.875rem;
    font-weight: 300;
    margin: 8px 0;
}

#info article .container a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: 400;
}

@media only screen and (min-width: 1200px) {
    #info {
        padding: 0;
        display: flex;
        align-items: flex-start;
    }

    #info p {
        font-size: 1rem;
    }

    #info article.desktop {
        padding: 32px 24px;
        box-sizing: border-box;
        width: 60%;
    }

    #info article.desktop > .container h3 {
        font-size: 1.875rem;
        font-weight: 900;
        margin-top: 32px;
    }

    #info article.desktop > .container p {
        margin-top: 24px;
        font-size: 1.125rem;
    }

    #info > .container {
        width: 40%;
        padding: 32px 0;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #info > .container article {
        width: 100%;
        padding: 8px 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    #info > .container article:hover {
        background-color: #d8d8d8;
    }

    #info > .container article img.desktop {
        display: inline-block;
        width: 35%;
    }

    #info > .container article > .container {
        width: 64%;
        display: inline-block;
        box-sizing: border-box;
    }
}

/* Start learning section */
#start-learning {
    padding: 32px 16px;
    border-bottom: 0.1rem solid #E6E6E6;
}

#start-learning .course {
    background-color: #d8d8d8;
    padding: 16px 16px;
    margin-bottom: 8px;
    border-radius: 3px;
}

#start-learning .course:last-child {
    margin-bottom: 0px;   
}

#start-learning .course h3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
}

@media only screen and (min-width: 1200px) {
    #start-learning {
        padding: 32px 72px;
        background-color: #E6E6E6;
    }
    
    #start-learning .desktop .courses-container {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
        gap: 32px;
        justify-content: space-between;
    }

    #start-learning .course {
        background-color: #FFF;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    #start-learning .course .course-description {
        padding: 16px 16px 24px;
    }

    #start-learning .course .course-description h3 {
        font-size: 1.325rem;
        font-weight: 700;
        margin: 0;
    }
    
    #start-learning .course .course-description h4 {
        font-weight: 400;
        margin: 8px 0;
    }

    #start-learning .course .course-description p {
        font-weight: 300;
    }
}

/* Thesis section */
#thesis-exhibits {
    padding: 32px 0 16px;
}

@media only screen and (min-width: 1200px) {
    #thesis-exhibits {
        padding: 32px 24px;
        border-bottom: 0.1rem solid #E6E6E6;
    }
}

/* Footer section */
footer {
    padding: 16px 16px;
}

footer p {
    font-size: 0.875rem;
    font-weight: 300;
}

footer .conditions li {
    display: inline-block;
    list-style-type: none;
}